<a href="https://colab.research.google.com/github/shardiallo10/DS1002-S24/blob/main/Assignments/06_Pandas_exercises.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Pandas exercises 1

1. Import dependencies

---

In [ ]:
list = [98, 24, 46, 87, 33]

2. Convert `list` to a pandas series using `pd.Series`

3. Take the above series and add an index that starts at 2 and steps by 3

4. Create a dictionary of 4 names, ages, and careers   
Convert this dictionary to a pandas dataframe: `df`.  
Print the dataframe.

5. Name the index of `df` 'participant_id'.  
Print `df`.

6. Use a pandas function to determine the data types of the columns of `df`.

7. Using bracket notation, reference column `name`

8. Using dot notation, reference column `name`

8. Reference column `name` and have it returned in a dataframe.

9. Show the 3rd element in column `career`.

10.  Load the `iris` dataset that we used in class.  Use `iris` as the name of your data frame.

11.  What is the correlation between the variables `sepal_length` and `sepal_width` for all the irises?

12.  Which of the three species has the highest correlation between `sepal_length` and `sepal_width`?  Show any calculations you use to support your answer.

13.  Among the four variables, the two that are most negatively correlated (overall) are `sepal_width` and `petal_length`.  (How do we know this?)  Determine the same thing but for each species separately:  for each species, which two variables have the most negative correlation?  Again, include calculations to support your answer.

14.  Show a scatter plot of the data from your answer to problem 13.  That is, for whichever species and pair of variables you found to have the most negative correlation, make a scatter plot of those two variables for the given species.